<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>check</title>
      <style>
         div{
           position: absolute;
           right: 10px;
           top: 10px;
         }
      </style>
  </head> 
  <body>
    {% csrf_token %}
    <h1>Welcome {{e}}</h1>
     <h1>Your daily reports</h1>
     
     <br>

     {% for time,date,work in comb_lis %}
        Date:{{date}} 
        Work:<a href = "/post_check/?z={{time}}">{{work}}</a>
    <br>
     {% endfor %}
     <form method="get" action="/check" id="s">
      {% csrf_token %}
      <input type="text" placeholder="search.." name="search">
      <input type="hidden" value="{{uid}}">
      <button type="submit" onclick="location.href='/check/?uid={{uid}}'" form="s">Search</button>
      <a href="{% url 'log' %}">Logout</a>
     </form>
<div>


  
</div>
  </body>       
</html>