<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=" UTF-8">
        <title>Signin</title>
        <style>
            div{
                position: absolute;
                right: 10px;
                top: 5px;
            }
        </style>
    </head>
    <body>
        <div>
            <button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
        </div>
        <h2>Create Daily Progress Report</h2>
        <form action="/post_create/" method="post">
        {% csrf_token %}
        Work Assigned:
        <input type="text" name="work" required>
        Progress:
        <textarea rows="5" cols="40" name="progress" required></textarea>
        Document Upload:
        <input type="file" name="file[]" id='files' required>
        <input type="hidden" name="url" id=url>
        <button type="button" onclick="uploadimage()">uploadimage</button>
        <input type="submit"  value="Submit">
        

    </form>

<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>

<script>
    
    var firebaseConfig = {
        'apiKey': "AIzaSyA9lWECICW_Tbj4lahpB0VuzmjlGaLnnXo",
        'authDomain': "login-demo-148c2.firebaseapp.com",
        'databaseURL': "https://login-demo-148c2.firebaseio.com",
        'projectId': "login-demo-148c2",
        'storageBucket': "login-demo-148c2.appspot.com",
        'messagingSenderId': "900718925900",
        'appId': "1:900718925900:web:d74a97a3eacbc3efa77ce9",
        'measurementId': "G-CE0QD1888L"
      };

      firebase.initializeApp(firebaseConfig);

      function uploadimage(){
      var storage = firebase.storage();
      var file = document.getElementById('files').files[0];
      var storageRef = storage.ref();
      var thisref = storageRef.child(file.name).put(file);
      thisref.on('state_changed',function(snapshot){
          console.log("file uploaded succesfully");
      },  
      function(error){

      },

      function(){
          var downloadURL = thisref.snapshot.downloadURL;
          console.log('got url');
          document.getElementById("url").value = downloadURL;
          alert("file uploaded succesfully")
      });
    }
</script>
</body>
</html>