<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>check</title>
      <style>
         div{
           position: absolute;
           right: 10px;
           top: 10px;
         }

        
      </style>
  </head> 
  <body>
    {% csrf_token %}
     <h2>Your daily reports</h3>
     <h3>Viewing your daily reports : {{e}}</h2>

     <h4>Date:{{d}}<br></h4>
     <h4>work:{{w}}<br></h4>
     <h4>Progress:{{p}}<br></h4>
     <h4>Image:{{i}}</h4><br>

     <img src="{{i}}" width="50%" height="50%">
     <br>
     <button type="button" onclick="location.href='{% url 'back' %}'">Go back</button>
     
     <button type="button" onclick="location.href='{% url 'delete' %}'">Delete</button>
     
     


<div>
  <a href="{% url 'log' %}">Logout</a>
<br><br>
</div>
  </body>       
</html>